
.bg-container {
    height: 90vh;
    background-image: url(/img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-nav {
    background-color: #fff;
    border-radius: 12px;
    padding: 5px 20px;
    width: auto;
}

.btn {
    background-color: #144549;
    border: none;
}

.navbar {
    display: flex!important;
}